body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: lime;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
section{
    display: flex;
    padding-left: 5%;
    margin-top: 150px;
}
.half-width{
    width: 250%;
    padding-left: 5px;
}
.half-width img{
    width: 80%;
}
.link-batton{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding:10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
}
.top-banner{
    background-repeat: no-repeat;
}

.Dreambig{
    background-image: url(images/dream-bg.png);

}
.Dreambig{
    background-image: url(images/top-banner.png);
}
footer p{
    text-align: center;
}
.maruf img{
    width: 100%;
}
